body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

body {
    
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.1)),url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter:  blur(1px);
    filter: brightness(1.1);
    
}

.header-box {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.header-box-text {
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  font-style: normal;
  /* font-variation-settings: "wght" 100; */
  color: rgb(255, 255, 255);
  font-size: 300%; /* Set initial font size using em units */
  margin-bottom: 100px;
  
}

.btn {
  font-family: 'Aclonica', sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  border-radius: 200px;
}

.btn-full{
  background-color: rgb(231, 70, 164);
  color: aliceblue;
}



  

