body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

body {
    background-image:url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter:  blur(1px);
    position: relative;
    
}
/***** Header section *****/

/* .header{
  position:relative;
} */

.header-box {
/* position: absolute; */
top:50%;
left: 50%;
/* transform: translate(-50%,-50%); */
text-align: center;
}

.header-box-text {
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  font-style: normal;
  /* font-variation-settings: "wght" 100; */
  color: rgb(255, 255, 255);
  font-size: 500%;
  margin-bottom: 50px;
  
}

.header-box-summery{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 600px;
  font-size: 200%;
}

/***** bottun section *****/
/* .btn:link,
.btn:visited { 
  font-family: 'Aclonica', sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  border-radius: 200px;
}


.btn-full:link,
.btn-full:visited {
  background-color: #e746a4;
  color: aliceblue;
}

.btn-full:hover,
.btn-full:active{
  background-color: #cb1a81;
} */

/***** Navigation section *****/

.main-nav{
  font-family: 'Quicksand', sans-serif;
  font-size: 200%;
  margin-bottom: 120px;
  padding-top: 20px;
  padding-left: 50px;
  margin-bottom: 250px;
}
.main-nav il a:link,a:visited{/*every link in the list*/
  display: inline-block;
  margin-right: 40px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.main-nav il a:hover,a:active{
  border-bottom: 2px solid #e746a4;
  background-color: rgba(255, 255, 255,0.2);
  border-radius: 10px;
  padding: 5px;
  transition: border-bottom 0.4s;
}

/***** About section *****/

.laptop-image {
  max-width: 50%;
  /* margin-top:100px; */
  padding-left: 150px ;
}

.about-heading {
	color:#e746a4;
	font-size:300%;
	font-weight:500;
	margin-bottom:40px;
  font-family: 'Aclonica', sans-serif;
  padding-left: 100px;
}

.about-para {
	color:#000;
	margin-bottom:100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  line-height: 1.2;
  max-width: 600px;
  padding-left: 100px;
}

.about-box {
  display: flex;
  flex-direction: column;
}


.about-box:first-child {
	text-align:left;
	padding:0 10%;
}
.about-box:last-child {
	text-align:right;
  
}

  
/***** Projects section *****/
.projects-section{
  text-align: center;
  background-color: #f4f4f4;
}
 .section-heading {
  font-size: 250%;
  color: black;
  margin-bottom: 20px;
  font-family: 'Aclonica', sans-serif;
  margin-top: 150px;
 }

 .section-heading:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color:#e746a4;
  content: " ";
  margin:30px auto 0 auto;
 }

 .project-portfilio{
  margin-top: 10px;
  list-style: none;
  width: 100%;
 }

 .project-portfilio li{
  display: block;
  width: 25%;
  float: left;
  overflow: hidden;
 }

 .project-para{
  color: white;
  background-color: black;
 }

 .portfilio-image{
  overflow: hidden;
 }

 .portfilio-image img{
  width: 100%;
  height: auto;
  /* opacity: .7; */
  /* padding-left: 100px; */
  transform: scale(1);
  transition:transform 0.5s, opacity 0.5s;
  margin-bottom: 10px;
 }

 .portfilio-image img:hover{
  transform: scale(1.15);
  opacity: 1;
 }